[files]
extdata_prefix = 구성관리조회
output_prefix = 서버진단보고서

[prometheus]
url = http://localhost:9090
queries = 
    100 - (avg by(instance) (rate(node_cpu_seconds_total{mode="idle", instance="{ip}:9100"}[5m])) * 100)
    100 * (1 - ((avg_over_time(node_memory_MemFree_bytes{{instance="{ip}:9100"}}[5m]) + avg_over_time(node_memory_Cached_bytes{{instance="{ip}:9100"}}[5m]) + avg_over_time(node_memory_Buffers_bytes{{instance="{ip}:9100"}}[5m])) / avg_over_time(node_memory_MemTotal_bytes{{instance="{ip}:9100"}}[5m])))
    100 - 100 * (sum(node_filesystem_free_bytes{{instance="{ip}:9100",fstype!="tmpfs"}}) / sum(node_filesystem_size_bytes{{instance="{ip}:9100",fstype!="tmpfs"}}))

[ollama]
url = http://localhost:11434/api/generate
timeout = 300

[prompts]
prompt1 = 당신은 비판적인 시스템 분석 전문가이다. metric dump 지표를 보고 '(1) 시스템 상태 종합의견', '(2) 조치 권장사항' 을 한글로 작성. 마크다운이 아닌 텍스트로만.
prompt2 = 당신은 분석 전문가이다. node_exporter metric dump를 객관적이고 비판적인 시스템관리자 입장에서 시스템 상태 종합의견을 한글로써줘.
prompt3 = 당신은 보안 전문가이다. 서버 지표를 보고 잠재적 보안위협을 식별하고 권장사항을 제공하라

[format_title1]
bold = true
font_size = 16
font_color = black
align = center
valign = vcenter
text_wrap = true

[format_title2]
bold = true
font_size = 14
font_color = black
align = left
valign = vcenter
text_wrap = true

[format_header1]
bold = true
font_size = 9
bg_color = dddddd
align = center
valign = vcenter
border = 1
bottom = 1
left = 1
right = 1
text_wrap = true

[format_string1]
font_size = 9
align = left
valign = vcenter
border = 1
bottom = 1
left = 1
right = 1
text_wrap = true

[format_string2]
italic = true
font_size = 9
font_color = 333333
align = center
valign = vcenter
border = 1
bottom = 1
left = 1
right = 1
text_wrap = true

[format_stat1]
italic = true
num_format = *-* #,##0*-;-* #,##0*-;*-* "-"*-;*-@*-
font_size = 9
font_color = 333333
valign = vcenter
border = 1
bottom = 1
left = 1
right = 1
text_wrap = true
