#################### COMMON ####################
[SLACK]
app_token = xapp-your-slack-app-token
bot_token = xoxb-your-slack-bot-token

[FILES]
csv_file_dir = ./data
csv_file_prefix = 구성관리조회
csv_file_extension = .csv
out_file_dir = ./output
venv_path = ./venv
python_interpreter = bin/python

[LOGGING]
log_file_dir = ../output
log_file = slrepoBot.log
# log_level = DEBUG
log_level = INFO
# log_level = WARNING
log_max_bytes = 1048576 
# log_max_bytes = 5242880
log_backup_count = 5

[ACCESS_CONTROL]
admin_domains = 
admin_slack_ids = 
user_domains = skshieldus.com
user_slack_ids =
guest_domains = partner.sk.com
guest_slack_ids = 

[COMMAND_PERMISSIONS]
check_web_b2b = admin, user
check_web_b2c = admin, user, guest
check_web_b2e = admin, user
check_web_blue = admin, user
server_info = admin, user, guest
server_mngt = admin, user
server_button = admin, user
server_report = admin, user

[THREAD_OPTIONS]
# check_web_thread = true
check_web_thread = false
server_report_thread = true

#################### CMD_SERVER ####################
[QUEUE]
use_queue = false
redis_host = localhost
redis_port = 6379
redis_db = 0
timeout = 300

[TEMPLATES]
info_template = * *ID:* _*{ID}*_ / _{분류}_##* *서비스:* _{서비스}_ ({운영상태})##* *역할:* _{IT구성정보명}_, _{자산 설명}_##* *서버정보:* _{Hostname}_ / _{설치 위치(Region)}_ / 이중화 ({서버 이중화 여부})##  - 공인/NAT IP: _{공인/NAT IP}_##  - 사설 IP: _{사설IP}_##  - VIP: _{VIP}_, H/A IP: _{HA IP}_, MGMT IP: _{MGMT IP}_##* *시스템 정보:*##  - OS: _{서버 OS}_ _{서버 OS Version}_##  - CPU: _{CPU Type}_ _{CPU Core 수}_##  - 메모리: _{Memory}_##  - 디스크: _{디스크 용량}_##  - DB ({DB 사용여부}): _{DB Platform}_ _{DB Version}_ 이중화({DB 이중화 여부})##  - WEB ({WEB 사용여부}): _{WEB Platform}_ _{WEB Version}_ 이중화({WEB 이중화 여부})##  - WAS ({WAS 사용여부}): _{WAS Platform}_ _{WAS Version}_ 이중화({WAS 이중화 여부})##  - 모니터링({모니터링 Tool 사용 여부}): _{모니터링 Tool 종류}_, Agent 설치 ({Agent 설치 여부})
mngt_template = * *ID:* _*{ID}*_ / _{사설IP}_, _{공인/NAT IP}_##* *서비스:* _{서비스}_ ({운영상태})##* *역할:* _{IT구성정보명}_, _{자산 설명}_##* *관리부서:* _{관리부서}_ ##  - HW: _{HW 소유부서}_, 관리자: _{HW 관리자}_, 담당자(정/부): _{HW 담당자(정)}_/_{HW 담당자(부)}_##  - SW: _{SW 소유부서}_, 관리자: _{SW 관리자}_, 담당자(정/부): _{SW 담당자(정)}_/_{SW 담당자(부)}_##* *유지보수({유지보수여부}):*  _{유지보수 업체}_##  - 계약기간: _{유지보수 시작일}_ ~ _{유지보수 종료일}_##  - 담당자: _{유지보수담당자}_ {담당자 연락처}##  - 지원형태: ({지원 형태}) / 24/7서비스 ({24/7 서비스지원}) / 점검 ({점검 횟수}) / 원격 ({원격지원 가능여부})##* *등록정보:* CMDB 작성률: _*{진척율(%%)}%%*_##  - 도입년월: _{도입년월}_##  - CMDB 등록: _{등록일}_ / 갱신: _*{최종 변경일시}*_ ##* *보안 정보:*##  - EQST VM ({EQST VM설치 여부}) / 백신 ({백신 설치 여부}) / Tanium ({Tanium 설치 여부}) / 서버 접근제어 ({서버 접근제어 연동 여부}) / DB 접근제어 ({DB 접근제어 연동 여부})
voca_template = * *ID:* _*{ID}*_ / *Hostname:* _{Hostname}_ / *IP:* _{사설IP}_ _{공인/NAT IP}_##* *서비스:* _{서비스}_ _({운영상태}-{분류})_ / *위치:* _{설치 위치(Region)}_##* *역할:* _{IT구성정보명}_ / *설명:* _{자산 설명}_ 

[BUTTON_GENERATION]
# columns_to_search = 사설IP, 공인/NAT IP, Hostname
ip_pattern = \b(?:\d{1,3}\.){3}\d{1,3}\b
# hostname_pattern = \b[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+\b
hostname_pattern = ■\s*호스트\s*:\s*(\S+)
# message_format = \* ([^:]+)\s*:\s*(.+)
message_limit = 10
extract_ips_limit = 5

[DATA_FILTERING]
filtered_columns = 담당자 연락처, HW 관리자, SW 관리자, HW 담당자(정), HW 담당자(부), SW 담당자(정), SW 담당자(부), 유지보수담당자


[PROGRESS_DISPLAY]
progress_bar_char = █
progress_empty_char = ▒
progress_bar_length = 10
update_interval = 5
progress_emojis = 📊,📈,📑,📋,📝,🔍,📌,📎,📏,📐
progress_steps = 서버 정보 수집 중,시스템 메트릭 수집 중,성능 데이터 분석 중,보안 정보 확인 중,보고서 템플릿 준비 중,분석 결과 작성 중,보고서 파일 생성 중
start_message = 보고서 생성을 시작합니다... 🚀
complete_message = 보고서 생성이 완료되었습니다. ✨
error_message = 보고서 생성 중 오류가 발생했습니다. ❌
timeout_message = 보고서 생성 시간이 초과되었습니다. ⏰

#################### CMD_CHECK_WEB ####################
# [WEB_SERVICES_*] 형식을 맞춰주고, 슬랙에서 슬래시 명령어 구분하면 그룹 나누기 가능
[WEB_SERVICES_B2B]
service1 = 서비스1이름, https://example1.com
service2 = 서비스2이름, https://example2.com

[WEB_SERVICES_B2C]
service1 = 서비스1이름, https://example3.com
service2 = 서비스2이름, https://example4.com

[WEB_SERVICES_B2E]
service1 = 서비스1이름, https://example5.com
service2 = 서비스2이름, https://example6.com

[WEB_SERVICES_BLUE]
service1 = 서비스1이름, https://example7.com
service2 = 서비스2이름, https://example8.com