[SLACK]
app_token = xapp-your-slack-app-token
bot_token = xoxb-your-slack-bot-token

[FILES]
csv_file_dir = ../data
csv_file_prefix = 구성관리조회
csv_file_extension = .csv
out_file_dir = ../output

[LOGGING]
log_file_dir = ../output
log_file = slrepoBot.log
log_level = INFO
# log_level = DEBUG
log_max_bytes = 1048576 
# log_max_bytes = 5242880
log_backup_count = 5

[TEMPLATES]
info_template = * *ID:* *{ID}* / {분류}##* *서비스:* {서비스} ({운영상태})##* *역할:* {IT구성정보명} {자산 설명}##* *서버정보:* {Hostname} / {설치 위치(Region)} / 이중화 ({서버 이중화 여부})##  - 공인/NAT IP: {공인/NAT IP}##  - 사설 IP: {사설IP}##  - V/HA/MGMT: {VIP} / {HA IP} / {MGMT IP}##* *시스템 정보:*##  - OS: {서버 OS} {서버 OS Version}##  - CPU: {CPU Type} {CPU Core 수}##  - 메모리: {Memory}##  - 디스크: {디스크 용량}##  - DB ({DB 사용여부}): {DB Platform} {DB Version} 이중화({DB 이중화 여부})##  - WEB ({WEB 사용여부}): {WEB Platform} {WEB Version} 이중화({WEB 이중화 여부})##  - WAS ({WAS 사용여부}): {WAS Platform} {WAS Version} 이중화({WAS 이중화 여부})##  - 모니터링({모니터링 Tool 사용 여부}): {모니터링 Tool 종류}, Agent 설치 ({Agent 설치 여부})
mngt_template = * *ID:* *{ID}* / CMDB {진척율(%%)}%%##* *서비스:* {서비스} ({운영상태})##* *역할:* {IT구성정보명} {자산 설명}##* *관리부서:* {관리부서} ##  - HW: {HW 소유부서} 관리자:{HW 관리자} 담당자(정/부):{HW 담당자(정)}/{HW 담당자(부)}##  - SW: {SW 소유부서} 관리자:{SW 관리자} 담당자(정/부):{SW 담당자(정)}/{SW 담당자(부)}##* *유지보수({유지보수여부}):*  {유지보수 업체}##  - 계약기간: {유지보수 시작일} ~ {유지보수 종료일}##  - 담당자: {유지보수담당자} {담당자 연락처}##  - 지원형태: ({지원 형태}) / 24/7서비스 ({24/7 서비스지원}) / 점검 ({점검 횟수}) / 원격 ({원격지원 가능여부})##* *도입년월:* {도입년월}##  - CMDB 등록/갱신: {등록일} / {등록일} ##* *보안 정보:*##  - EQST VM/백신/Tanium/서버 접근제어/DB 접근제어: {EQST VM설치 여부} / {백신 설치 여부} / {Tanium 설치 여부} / {서버 접근제어 연동 여부} / {DB 접근제어 연동 여부}

[QUEUE]
use_queue = false
redis_host = localhost
redis_port = 6379
redis_db = 0
timeout = 300